/* Universal resetting for clean styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: optimizeSpeed;
}

body {
    background-color: rgb(234, 245, 251);
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    /* height: 100dvh; */


}


main {
    flex-grow: 1;

}

/* Header with logo and ITI name from here */
#header {
    margin: 5px;
    width: auto;
    min-width: 290px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #eed89b, rgb(121, 238, 121), #a8acf7);
    /* background-color: rgb(171, 242, 165); */
    border-radius: 10px;
    transition: box-shadow 0.5s ease, transform 0.7s ease;
    -webkit-user-select: none;
    user-select: none;
}

#header:hover {
    box-shadow: 0px 0px 10px #000000;
    transform: scale(1.002);

}

.logo-container {
    height: 70px;
    width: 70px;
    min-width: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
}

#map {
    opacity: 1;
    font-size: large;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

#iti_name_logo {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 5vw, 2rem);
}

#start {
    color: rgb(255, 157, 0);
}

#mid {
    color: rgb(4, 151, 4);
}

#end {
    color: rgb(5, 5, 173);
}

/* Navigation Bar starts from here */

#navbar {
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #8e8b8b;
    position: sticky;
    top: 5px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 2;

}

#navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
    list-style: none;



    li a {
        display: block;
        color: black;
        font-size: small;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 10px;
        transition: all 0.3s ease;
        position: relative;
    }
}

#navbar ul li a:hover {
    transform: scale(1.05);
}

#navbar ul li a:active {
    transform: scale(0.9);
}

#navbar ul li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0px;
    height: 5px;
    background-color: green;
    transition: all 0.3s ease;
    border-radius: 5px;

}

#navbar ul li a:hover::after {
    width: 100%;
    transform: translateX(-50%);

}


/* Carousel for hero section */
#carousel {
    background-color: white;
    height: 500px;
    max-height: 500px;
    display: flex;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
    overflow-y: auto;
    scroll-snap-type: x mandatory;
    padding: 5px;
    gap: 5px;
    scrollbar-width: none;
    position: relative;



    img {
        width: 100%;
        border-radius: inherit;
        scroll-snap-align: center;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 3s ease;

    }

    img.active {
        opacity: 1;
    }

}


@media (max-width: 600px) {
    #carousel {
        height: 300px;
    }
}


#welcome-box {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding-top: 5px;

    h3 {
        text-align: center;
        font-weight: bold;
        background-color: rgb(232, 232, 232);
        border-radius: 5px;
        padding: 10px;
        margin-inline: 5px;
    }
}

#admission {
    background-color: rgb(221, 221, 221);
    padding: 10px;
    display: flex;
    height: 43px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 10px;
    gap: 5px;



    a {
        color: black;
        text-decoration: none;
        font-weight: bolder;
        animation: color 1.2s ease-in-out infinite reverse;


    }

    i {

        color: rgb(189, 4, 4);
        animation: pop 1.2s ease-in-out infinite reverse;
        transform: translateY(-2px);
    }

}

@keyframes pop {
    0% {
        transform: scale(0.5);

    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes color {
    0% {
        color: rgb(0, 0, 0);
    }

    100% {
        color: rgb(128, 2, 2);
    }
}

#about_iti {
    gap: 5px;
    display: grid;
    background-color: rgb(252, 252, 252);
    /* overflow-x: auto; */
    padding: 5px;
    border-radius: 10px;
    grid-template-columns: 350px 1fr;
    grid-template-areas:
        "about_top  about_top"
        "img    text";


    img {
        width: 100%;
        /* height: 150%; */
        grid-area: img;
        border-radius: 10px;
        object-fit: cover;
        /* border: 1px solid; */
        max-height: 340px;

    }

    div {
        grid-area: text;
        overflow-y: auto;
        max-height: 230px;
        background-color: rgb(232, 232, 232);
        padding: 5px;
        border-radius: 10px;
        scrollbar-width: none;

        p {
            font-size: 1rem;
            text-align: justify;
        }

    }
}

@media (max-width : 600px) {
    #about_iti {
        grid-template-areas:
            "img    img"
            "text   text";
    }


}

#superintendet-corner {

    h3 {
        text-align: center;
        font-weight: bold;
        background-color: rgb(232, 232, 232);
        border-radius: 5px;
        padding: 10px;
        margin-inline: 5px;
    }

    #s-message {
        gap: 5px;
        display: grid;
        background-color: transparent;
        padding: 5px;
        padding-top: 5px;
        border-radius: 10px;
        grid-template-columns: 1fr 350px;

        grid-template-areas:
            "msg    s-img";



        #img-div {
            width: 100%;
            height: 100%;
            min-height: 400px;
            grid-area: s-img;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(1.2);
                border-radius: inherit;
            }

            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                background-color: rgb(141, 56, 0);
                position: absolute;
                bottom: 0px;
                left: 0px;
                height: 7%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        div {
            grid-area: msg;
            overflow-y: auto;
            max-height: 400px;
            background-color: rgb(232, 232, 232);
            padding: 5px;
            border-radius: 10px;
            scrollbar-width: none;

            p {
                font-size: 1rem;
                text-align: justify;
            }

        }


    }

}

@media (max-width : 600px) {
    #superintendet-corner #s-message {
        grid-template-areas:
            "s-img  s-img"
            "msg    msg";
    }
}

#useful_links {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    gap: 20px;


    h4 {
        padding: 5px;
        background-color: rgb(193, 192, 192);
        border-radius: inherit;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

    }

    #student_corner {
        /* width: 20%; */
        border-radius: inherit;
        background-color: rgb(220, 220, 220);
        transition: all 0.4s ease;
        padding: 10px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 10px;


        #links {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 5px;

            a {
                text-decoration: none;
                color: rgb(1, 9, 86);
                font-size: 1rem;

            }
        }


    }

    #student_corner:hover {
        /* transform: scale(1.01); */
        background-color: rgb(176, 176, 176);
        box-shadow: 5px 5px 10px #adadad;

    }

    #perks {
        display: flex;
        flex-direction: column;
        gap: 15px;
        -webkit-user-select: none;
        user-select: none;
    }


    .perk {
        display: flex;
        font-size: small;
        gap: 10px;
        align-items: center;
        background-color: rgb(220, 220, 220);
        border-radius: 10px;
        padding: 10px;
        transition: all 0.4s ease;



        .perk-icon {
            border-radius: 50%;
            padding: 10px;
            background-color: #3874f6;
            color: white;
        }

        i {
            font-size: 1rem;

        }

    }

    .perk:hover {
        /* transform: scale(1.01); */
        background-color: rgb(176, 176, 176);
        box-shadow: 5px 5px 10px #adadad;
    }




    #portals {
        /* width: 20%; */
        border-radius: inherit;
        background-color: rgb(220, 220, 220);
        transition: all 0.4s ease;
        padding: 10px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 10px;


        #links {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 5px;

            a {
                text-decoration: none;
                color: rgb(1, 9, 86);
                font: size 1rem;
            }
        }
    }

    #portals:hover {
        /* transform: scale(1.01); */
        background-color: rgb(176, 176, 176);
        box-shadow: 5px 5px 10px #adadad;

    }
}

@media (max-width: 600px) {
    #useful_links {
        flex-direction: column;

    }


}

.socials {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    gap: 20px;

    h4{
        text-align: center;
        padding: 5px;
    }

    div{
        display: flex;
        justify-content: space-evenly;
        padding: 10px;

        a{
            font-size: 1.5rem;
        }

    }

}


#main_footer {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 5px;


    #foot_tags {
        width: 95%;
        margin: 10px auto;
        background-color: rgb(193, 193, 193);
        border-radius: inherit;

        #tag {
            height: 120px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            h4 {
                text-align: center;
            }

            a {
                height: 50px;
                width: 50px;
                background-color: white;
                display: flex;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

            }

            i {

                color: black;
                font-size: 2rem;

            }

            p {
                text-align: center;
                font-size: small;
            }
        }
    }
}

@media (min-width : 650px) {
    #main_footer {
        #foot_tags {
            display: flex;
            justify-content: space-evenly;
            gap: 10px;

            #tag {
                width: 300px;
                height: 300px;
                max-width: 300px;

            }
        }



    }



}


#copyright {
    background-color: #fff;
    width: 95%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 12px;
    background-color: rgb(193, 193, 193);
    padding: 10px;
    border-radius: 5px;

}

#copyright div {
    text-align: center;
}


/* Faculty page styling */
#faculty-table {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    overflow-x: auto;
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-width: 2px;
    min-width: 650px;
    box-shadow: 0px 0px 20px #d2dbf8;
}

table th {
    padding: 5px;
    background-color: rgb(199, 199, 199);
}

table img {
    height: 50px;
    max-height: 150px;
    width: 50px;
    max-width: 150px;
}

table td {
    padding: 10px;
}


/* Trades Page starts from here */
.trade {
    background-color: white;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    z-index: 2;
    transition: all 0.5s ease;
    box-shadow: 0px 10px 10px rgb(138, 138, 138);
    align-items: center;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-areas:
        "name   name    name"
        "img    para    para";
}

#trade-name {
    grid-area: name;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(169, 169, 169);
    padding: 10px;
    border-radius: inherit;
}

#trade-img {
    grid-area: img;
    border-radius: inherit;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193);
    overflow: hidden;

    img {
        border-radius: inherit;
        height: 100%;
        width: 100%;

    }
}

#trade-info {
    height: 200px;
    grid-area: para;
    width: 100%;
    overflow-y: auto;
    background-color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: inherit;
    scrollbar-width: none;
}

@media (max-width: 600px) {
    .trade {
        grid-template-areas:
            "name   name    name"
            "img    img     img"
            "para   para    para";
    }

}

.trade:hover {
    transform: scale(1.01);
}




#faculty {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: rgb(209, 209, 209);
    border-radius: inherit;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        max-height: 80%;
        border-radius: inherit;
        object-fit: cover;
    }

    h1 {
        color: rgb(75, 12, 12);
        border-radius: 10px;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
}

.card:hover {
    /* transform: scale(1.01); */
    transform: scale(1.01);
    box-shadow: 1px 1px 5px black;
}

.card-body {
    border-radius: inherit;
    padding: 5px;
    height: 20%;
    text-align: center;
}


#gallery {
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow: hidden;
    place-items: center;
    /* position: relative; */

    img {
        max-width: 100%;
        height: 400px;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
    }



}

#videography {
    display: flex;
    height: fit-content;

    video {
        object-fit: cover;
    }

}